<h1>Edition du profil</h1>
    <%= form_for (@user) do |f| %>
    <%= render "fields", f: f%>
<br>
    <div class="actions">
      <%= f.submit "Inscription" ,class:"btn btn-primary" %>
    </div>
    <%end%></div>
</div>
