<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to"Sample App",root_path,id:"logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to"Accueil",root_path%></li>
        <li><%= link_to"Aide",help_path%></li>
        <li><%= link_to"S'inscrire !",signup_path%></li>
      </ul>
    </nav>
  </div>
</header>
